<div>
<h1 class="text-2xl font-semibold text-gray-600">This is my Todo Application</h1>
     <form>
         <div class="flex gap-2 py-4">
             <div class="flex-auto">
                 <input  type="text" placeholder="what's next?" class="border border-gray-600 rounded text-gray-600 w-full p-2 text-sm leading-5" required />
             </div>
             <div class="flex-auto">
                 <input type="date" class="border border-gray-600 rounded text-gray-600 w-full p-2 text-sm leading-4"  />
             </div>
             <div class="flex-none">
                 <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
             </div>
         </div>
     </form>
</div>